<div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_sub" style="width: 70%; margin: auto;">
    <h3>Обяви</h3>
    <div class="w3ls_w3l_banner_nav_right_grid1">
        <h6>частни обяви</h6>
        <div class="col-md-3 w3ls_w3l_banner_left">
            <div *ngFor="let offer of offers" class="hover14 column">
            <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                <div class="agile_top_brand_left_grid_pos">
                    <img src="assets/images/offer.png" alt=" " class="img-responsive" />
                </div>
                <div class="agile_top_brand_left_grid1">
                    <figure>
                        <div class="snipcart-item block">
                            <div class="snipcart-thumb">
                                <a href="/offers/{{offers.id}}"><img src="{{offer.image}}" alt=" " class="img-responsive" /></a>
                                <p>{{offer.title}}</p>
                            </div>
                            <div class="snipcart-details">
                                <form action="#" method="post">
                                    <fieldset>
                                         <input type="button" name="submit" value="ВИЖ ПОВЕЧЕ" class="button" /> 
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>